section.about__wrap#about
	ul.bxslider-about
		li.about
			.container
				h2.h2.about__title
					|ПРОФЕССИОНАЛЬНАЯ КОМАНДА
				p.about__details
					|CONTACTO — это команда профессионалов, имеющих многолетний опыт работы 
					|и готовых предложить полный комплекс услуг для решения коммуникационных задач 
					|в зависимости от целевых аудиторий клиента — сотрудников, партнеров, СМИ 
					|или общественности.
				.about-faces__wrap
					ul.about-faces__list
						li.about-faces__item.about-faces__item_c
							img(src='img/about/c1.png')
							.about-faces__detail.about-faces__detail_c
								p.position
									|генеральный директор
								p.name
									|Екатерина Шаронина
						li.about-faces__item.about-faces__item_o
							img(src='img/about/c2.png')
							.about-faces__detail.about-faces__detail_o
								p.position
									|директор
								p.name
									|Вася Пупкина
						li.about-faces__item.about-faces__item_n
							img(src='img/about/c3.png')
							.about-faces__detail.about-faces__detail_n
						li.about-faces__item.about-faces__item_t
							img(src='img/about/c4.png')
							.about-faces__detail.about-faces__detail_t
						li.about-faces__item.about-faces__item_a
							img(src='img/about/c5.png')
							.about-faces__detail.about-faces__detail_a
						li.about-faces__item.about-faces__item_ct
							img(src='img/about/c6.png')
							.about-faces__detail.about-faces__detail_ct
						li.about-faces__item.about-faces__item_ta
							img(src='img/about/c7.png')
							.about-faces__detail.about-faces__detail_ta
						li.about-faces__item.about-faces__item_oo
							img(src='img/about/c8.png')
							.about-faces__detail.about-faces__detail_oo
					ul.faces-slider
						li
							.faces-slider__item
								img(src='img/about/c1.png')
								.faces-slider__caption
									p.position
										|генеральный директор
									p.name
										|Екатерина Шаронина
						li
							.faces-slider__item
								img(src='img/about/c2.png')
								.faces-slider__caption
									p.position
										|директор
									p.name
										|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c3.png')
								.faces-slider__caption
									p.position
										|директор
									p.name
										|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c4.png')
								.faces-slider__caption
									p.position
										|директор
									p.name
										|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c5.png')
								.faces-slider__caption
									p.position
										|директор
									p.name
										|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c6.png')
								.faces-slider__caption
									p.position
										|директор
									p.name
										|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c7.png')
								.faces-slider__caption
									p.position
										|директор
									p.name
										|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c8.png')
								.faces-slider__caption
									p.position
										|директор
									p.name
										|Вася Пупкина

		li
			img(src='img/about/bg1.png')
		li
			img(src='img/about/bg2.png')
		li
			img(src='img/about/bg3.png')
		li
			img(src='img/about/bg5.png')