section.about
	.container
		h2.h2.about__title
			|ПРОФЕССИОНАЛЬНАЯ КОМАНДА
		p.about__details
			|CONTACTO — это команда профессионалов, имеющих многолетний опыт работы
			|и готовых предложить полный комплекс услуг для решения коммуникационных задач
			|в зависимости от целевых аудиторий клиента — сотрудников, партнеров, СМИ
			|или общественности.
		.about-faces__wrap
			ul.about-faces__list
				li.about-faces__item.about-faces__item_c
					img(src='img/face.jpg')
					.about-faces__link.about-faces__link_c
				li.about-faces__item.about-faces__item_o
					.about-faces__link.about-faces__link_o
				li.about-faces__item.about-faces__item_n
					.about-faces__link.about-faces__link_n
				li.about-faces__item.about-faces__item_t
					.about-faces__link.about-faces__link_t
				li.about-faces__item.about-faces__item_a
					.about-faces__link.about-faces__link_a
				li.about-faces__item.about-faces__item_ct
					.about-faces__link.about-faces__link_ct
				li.about-faces__item.about-faces__item_ta
					.about-faces__link.about-faces__link_ta
				li.about-faces__item.about-faces__item_oo
					.about-faces__link.about-faces__link_oo
