section.about__wrap.sliders.fixed_slide.dynamicHeight#about
	ul.bxslider-about
		li.about.about_team
			.container
				h2.h2.about__title
					|ПРОФЕССИОНАЛЬНАЯ КОМАНДА
				p.about__details
					|CONTACTO — это команда профессионалов, имеющих многолетний опыт работы
					|и готовых предложить полный комплекс услуг для решения коммуникационных задач
					|в зависимости от целевых аудиторий клиента — сотрудников, партнеров, СМИ
					|или общественности.
				.about-faces__wrap
					ul.about-faces__list
						li.about-faces__item.about-faces__item_c
							img(src='img/about/c1.png').timh
							//- .about-faces__detail.about-faces__detail_c
							//- 	p.position
							//- 		|генеральный директор
							//- 	p.name
							//- 		|Екатерина Шаронина
						li.about-faces__item.about-faces__item_o
							img(src='img/about/c2.png')
							//- .about-faces__detail.about-faces__detail_o
							//- 	p.position
							//- 		|директор
							//- 	p.name
							//- 		|Вася Пупкина
						li.about-faces__item.about-faces__item_n
							img(src='img/about/c3.png')
							.about-faces__detail.about-faces__detail_n
						li.about-faces__item.about-faces__item_t
							img(src='img/about/c4.png')
							.about-faces__detail.about-faces__detail_t
						li.about-faces__item.about-faces__item_a
							img(src='img/about/c5.png')
							.about-faces__detail.about-faces__detail_a
						li.about-faces__item.about-faces__item_ct
							img(src='img/about/c6.png')
							.about-faces__detail.about-faces__detail_ct
						li.about-faces__item.about-faces__item_ta
							img(src='img/about/c7.png')
							.about-faces__detail.about-faces__detail_ta
						li.about-faces__item.about-faces__item_oo
							img(src='img/about/c8.png')
							.about-faces__detail.about-faces__detail_oo
					ul.faces-slider
						li
							.faces-slider__item
								img(src='img/about/c1.png')
								//- .faces-slider__caption
								//- 	p.position
								//- 		|генеральный директор
								//- 	p.name
								//- 		|Екатерина Шаронина
						li
							.faces-slider__item
								img(src='img/about/c2.png')
								//- .faces-slider__caption
								//- 	p.position
								//- 		|директор
								//- 	p.name
								//- 		|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c3.png')
								//- .faces-slider__caption
								//- 	p.position
								//- 		|директор
								//- 	p.name
								//- 		|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c4.png')
								//- .faces-slider__caption
								//- 	p.position
								//- 		|директор
								//- 	p.name
								//- 		|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c5.png')
								//- .faces-slider__caption
								//- 	p.position
								//- 		|директор
								//- 	p.name
								//- 		|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c6.png')
								//- .faces-slider__caption
								//- 	p.position
								//- 		|директор
								//- 	p.name
								//- 		|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c7.png')
								//- .faces-slider__caption
								//- 	p.position
								//- 		|директор
								//- 	p.name
								//- 		|Вася Пупкина
						li
							.faces-slider__item
								img(src='img/about/c8.png')
								//- .faces-slider__caption
								//- 	p.position
								//- 		|директор
								//- 	p.name
								//- 		|Вася Пупкина

		li.about_history
			img(src='img/about/bg1.jpg')
			.container
				h2.h2.about__slide-title
					|ИСТОРИЯ
				p.about__slide-details
					|10 лет успешной работы в области <br>
					|  внешних и внутренних комммуницаций.<br>
					| Офисы в Санкт-Петербурге и Москве. <br>
					| Официальные представители <br>
					| в 16 городах Северо-Запада
		li.about_geography
			img(src='img/about/bg2.jpg')
			.container
				h2.h2.about__slide-title
					| География проектов
				p.about__slide-details
					|Реализовано более 500 проектов<br>
					|  в 30 городах России и зарубежья
		li.about_principles
			img(src='img/about/bg3.jpg')
			.container
				h2.h2.about__slide-title
					| Наши принципы
				p.about__slide-details
					|клиентоориентованность<br>
					| выстраивание партнерских отношений <br>
					| конфиденциальность
				p.about__slide-details
					| Поетому мы заслужили безпечную репутацию <br>
					| среди клиентов, которые доверяют нам долгие годы.
		li.about_partnership
			img(src='img/about/bg5.jpg')
			.container
				h2.h2.about__slide-title
					| партнерство
				p.about__slide-details
					| в ассоциациях и<br>
					| некоммерческих <br>
					| организациях
