section.brands#clients
    .container
        .brands-wrapper
            .brands-gallery
                .brands-item
                    img(src="img/heinken.png", alt="Heinken" title="Heinken")
                .brands-item
                    img(src="img/gasprom.png", alt="Газпром нефть" title="Газпром нефть")
                .brands-item
                    img(src="img/zenit.png", alt="Зенит" title="Зенит")
                .brands-item
                    img(src="img/neftterminal.png", alt="Нефтяной терминал" title="Нефтяной терминал")
                .brands-item
                    img(src="img/tobacco.png", alt="British American Tobacco" title="British American Tobacco")
                .brands-item
                    img(src="img/bsh.png", alt="B/S/H/" title="B/S/H/")
                .brands-item
                    img(src="img/setgroup.png", alt="SetGroup" title="SetGroup")
                .brands-item
                    img(src="img/autoprodicks.png", alt="Автопродикс" title="Автопродикс")
                .brands-item
                    img(src="img/upm.png", alt="UPM" title="UPM")
                .brands-item
                    img(src="img/siemens.png", alt="Siemens" title="Siemens")
                .brands-item
                    img(src="img/honka.png", alt="Honka" title="Honka")
                .brands-item
                    img(src="img/silovie.png", alt="Силовые машины" title="Силовые машины")
            .brands-gallery
                .brands-item
                    img(src="img/heinken.png", alt="Heinken" title="Heinken")
                .brands-item
                    img(src="img/gasprom.png", alt="Газпром нефть" title="Газпром нефть")
                .brands-item
                    img(src="img/zenit.png", alt="Зенит" title="Зенит")
                .brands-item
                    img(src="img/neftterminal.png", alt="Нефтяной терминал" title="Нефтяной терминал")
                .brands-item
                    img(src="img/tobacco.png", alt="British American Tobacco" title="British American Tobacco")
                .brands-item
                    img(src="img/bsh.png", alt="B/S/H/" title="B/S/H/")
                .brands-item
                    img(src="img/setgroup.png", alt="SetGroup" title="SetGroup")
                .brands-item
                    img(src="img/autoprodicks.png", alt="Автопродикс" title="Автопродикс")
                .brands-item
                    img(src="img/upm.png", alt="UPM" title="UPM")
                .brands-item
                    img(src="img/siemens.png", alt="Siemens" title="Siemens")
                .brands-item
                    img(src="img/honka.png", alt="Honka" title="Honka")
                .brands-item
                    img(src="img/silovie.png", alt="Силовые машины" title="Силовые машины")