section.brands.sliders#clients
    .container
        .brands-wrapper
            .brands-gallery
                .brands-item
                    img(src="img/brands/heinken.svg", alt="Heinken" title="Heinken")
                .brands-item
                    img(src="img/brands/gasprom.svg", alt="Газпром нефть" title="Газпром нефть")
                .brands-item
                    img(src="img/brands/zenit.svg", alt="Зенит" title="Зенит")
                .brands-item
                    img(src="img/brands/neftterminal.svg", alt="Нефтяной терминал" title="Нефтяной терминал")
                .brands-item
                    img(src="img/brands/tobacco.svg", alt="British American Tobacco" title="British American Tobacco")
                .brands-item
                    img(src="img/brands/bsh.svg", alt="B/S/H/" title="B/S/H/")
                .brands-item
                    img(src="img/brands/setgroup.svg", alt="SetGroup" title="SetGroup")
                .brands-item
                    img(src="img/brands/autoprodicks.svg", alt="Автопродикс" title="Автопродикс")
                .brands-item
                    img(src="img/brands/upm.svg", alt="UPM" title="UPM")
                .brands-item
                    img(src="img/brands/siemens.svg", alt="Siemens" title="Siemens")
                .brands-item
                    img(src="img/brands/honka.svg", alt="Honka" title="Honka")
                .brands-item
                    img(src="img/brands/silovie.svg", alt="Силовые машины" title="Силовые машины")
            .brands-gallery
                .brands-item
                    img(src="img/brands/heinken.svg", alt="Heinken" title="Heinken")
                .brands-item
                    img(src="img/brands/gasprom.svg", alt="Газпром нефть" title="Газпром нефть")
                .brands-item
                    img(src="img/brands/zenit.svg", alt="Зенит" title="Зенит")
                .brands-item
                    img(src="img/brands/neftterminal.svg", alt="Нефтяной терминал" title="Нефтяной терминал")
                .brands-item
                    img(src="img/brands/tobacco.svg", alt="British American Tobacco" title="British American Tobacco")
                .brands-item
                    img(src="img/brands/bsh.svg", alt="B/S/H/" title="B/S/H/")
                .brands-item
                    img(src="img/brands/setgroup.svg", alt="SetGroup" title="SetGroup")
                .brands-item
                    img(src="img/brands/autoprodicks.svg", alt="Автопродикс" title="Автопродикс")
                .brands-item
                    img(src="img/brands/upm.svg", alt="UPM" title="UPM")
                .brands-item
                    img(src="img/brands/siemens.svg", alt="Siemens" title="Siemens")
                .brands-item
                    img(src="img/brands/honka.svg", alt="Honka" title="Honka")
                .brands-item
                    img(src="img/brands/silovie.svg", alt="Силовые машины" title="Силовые машины")
            .brands-gallery
                .brands-item
                    img(src="img/brands/heinken.svg", alt="Heinken" title="Heinken")
                .brands-item
                    img(src="img/brands/gasprom.svg", alt="Газпром нефть" title="Газпром нефть")
                .brands-item
                    img(src="img/brands/zenit.svg", alt="Зенит" title="Зенит")
                .brands-item
                    img(src="img/brands/neftterminal.svg", alt="Нефтяной терминал" title="Нефтяной терминал")
                .brands-item
                    img(src="img/brands/tobacco.svg", alt="British American Tobacco" title="British American Tobacco")
                .brands-item
                    img(src="img/brands/bsh.svg", alt="B/S/H/" title="B/S/H/")
                .brands-item
                    img(src="img/brands/setgroup.svg", alt="SetGroup" title="SetGroup")
                .brands-item
                    img(src="img/brands/autoprodicks.svg", alt="Автопродикс" title="Автопродикс")
                .brands-item
                    img(src="img/brands/upm.svg", alt="UPM" title="UPM")
                .brands-item
                    img(src="img/brands/siemens.svg", alt="Siemens" title="Siemens")
                .brands-item
                    img(src="img/brands/honka.svg", alt="Honka" title="Honka")
                .brands-item
                    img(src="img/brands/silovie.svg", alt="Силовые машины" title="Силовые машины")