header.header
    .firstline
        .container
            a.logo(href='#')
                img.logo-img(src='img/logo.svg')

            .landing-menu
                - var menu_items = ["НОВОСТИ","УСЛУГИ","О НАС","КЛИЕНТЫ","ПРОЕКТЫ","КОНТАКТЫ","ВАКАНСИИ","ОТПРАВИТЬ БРИФ"];
                - var menu_items_link = ["#news","#uslugi","#about","#clients","#projects","#projects","#","#"];
                #hamburger.hamburger
                    span.line
                    span.line
                    span.line
            ul.menu-list#menu
                li.menu-list__li
                    .socials_block_menu
                        ul.social__list
                            li.social__item
                                a.social__link.social__link_fb(href='#')
                            li.social__item
                                a.social__link.social__link_vk(href='#')
                            li.social__item
                                a.social__link.social__link_insta(href='#')
                - for (var i = 0; i< menu_items.length; i++)
                    if (menu_items[i] == "ОТПРАВИТЬ БРИФ")                    
                        li.menu-list__li
                            a.menu-list__a.menu-list__a--briff(href=menu_items_link[i]) #{menu_items[i]}
                    else
                        li.menu-list__li
                            a.menu-list__a(href=menu_items_link[i]) #{menu_items[i]}                        

            .socials_block.socials_block-header
                ul.social__list
                    li.social__item
                        a.social__link.social__link_fb(href='#')
                    li.social__item
                        a.social__link.social__link_vk(href='#')
                    li.social__item
                        a.social__link.social__link_insta(href='#')
    .header-slider#news
        ul.bxslider
            li
                div.slide-custom__wrap
                    img(src='img/header-slider1.jpg').bg
                    .slide__content-wrap.white-text
                        h1.title-slider
                            span.bigger Contacto
                            span communication management
            li
                div.slide-custom__wrap
                    img(src='img/header-slider2.jpg').bg
                    .slide__content-wrap.black-text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            |proident, sunt in culpa qui officia deserunt mollit anim id est |laborum.
            li
                div.slide-custom__wrap
                    img(src='img/header-slider2.jpg').bg
                    .slide__content-wrap.white-text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            |proident, sunt in culpa qui officia deserunt mollit anim id est |laborum.

