section.letters#letters
	.container
		.letters_label Благодарственные письма
		.letters-slider-wrap
			//- #letters__left-arrow
			//- .letters-wrap
			//- 	a.fancybox.item.item_left(href='img/base_album/n_1397390947.jpg', style="background-image: url('img/base_album/n_1397390947.jpg');")
			//- 	a.fancybox.item.item_center(href='img/base_album/n_1397390953.JPG', style="background-image: url('img/base_album/n_1397390953.JPG');")
			//- 	a.fancybox.item.item_right(href='img/base_album/n_1397390956.JPG', style="background-image: url('img/base_album/n_1397390956.JPG');")
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390952.jpg', style='background-image: url("img/base_album/n_1397390952.jpg"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390950.jpg', style='background-image: url("img/base_album/n_1397390950.jpg"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390960.JPG', style='background-image: url("img/base_album/n_1397390960.JPG"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390959.JPG', style='background-image: url("img/base_album/n_1397390959.JPG"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390975.JPG', style='background-image: url("img/base_album/n_1397390975.JPG"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390966.JPG', style='background-image: url("img/base_album/n_1397390966.JPG"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390963.jpg', style='background-image: url("img/base_album/n_1397390963.jpg"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390980.jpg', style='background-image: url("img/base_album/n_1397390980.jpg"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390977.JPG', style='background-image: url("img/base_album/n_1397390977.JPG"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390983.JPG', style='background-image: url("img/base_album/n_1397390983.JPG"); opacity: 0;')
			//- 	a.fancybox.item.item_hidden(href='img/base_album/n_1397390987.jpg', style='background-image: url("img/base_album/n_1397390987.jpg"); opacity: 0;')
			.letters-wrap
				a.fancybox(href='img/base_album/n_1397390947.jpg')
					.img-wrap
						img(src='img/base_album/n_1397390947.jpg')
				a.fancybox(href='img/base_album/n_1397390953.JPG')
					.img-wrap
						img(src='img/base_album/n_1397390953.jpg')
				a.fancybox(href='img/base_album/n_1397390956.JPG')
					.img-wrap
						img(src='img/base_album/n_1397390956.jpg')
				a.fancybox(href='img/base_album/n_1397390952.jpg')
					.img-wrap
						img(src='img/base_album/n_1397390952.jpg')
				a.fancybox(href='img/base_album/n_1397390950.jpg')
					.img-wrap
						img(src='img/base_album/n_1397390950.jpg')
			//- #letters__right-arrow
#paralax_1
	img(src='img/paralax_1.png')
.contacts_block#contacts
	.container
		#cont_note_1
			p Россия,194100, Санкт-Петербург,
			p ул. Кантемировская, д. 39 лит. А, оф. 301
			p
				a(href='tel:78127021802') +7 (812) 702 1802
			p
				a(href='mailto:info@contactopr.ru') info@contactopr.ru
		#cont_logo
			img(src='img/logo.svg')
		#cont_note_2
			p Россия,119435, Москва,
			p ул. Малая Пироговская, д. 18 стр. 1
			p
				a(href='tel:79269722600') +7 (926) 972 26 00
			p
				a(href='mailto:info@contactopr.ru') info@contactopr.ru
//- картинка внутри есть для регулировки высоты блока
#paralax_2
	img(src='img/paralax_2.png')



