.header-slider.sliders.fixed_slide.dynamicHeight#news
    ul.bxslider
        li
            div.slide-custom__wrap
                img(src='img/header-slider1.jpg').bg
                .slide__content-wrap.white-text
                    h1.title-slider
                        span.bigger Contacto
                        span communication management
        li
            div.slide-custom__wrap
                img(src='img/header-slider3.jpg').bg
                .slide__content-wrap.white-text
                    h1.title-slider
                        span Акция от 24.01.2017 скидка 30%
                    p
                        | просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст просто текст
include _uslugi.pug
include _about.pug
include _brands.pug
include _services.pug
include _letters.pug
include _popups.pug