.header-slider.sliders.fixed_slide#news
    ul.bxslider
        li
            div.slide-custom__wrap
                img(src='img/header-slider1.jpg').bg
                //- .slide__content-wrap.white-text
                    //- h1.title-slider
                    //-     span.bigger Contacto
                    //-     span communication management
        li
            div.slide-custom__wrap
                img(src='img/header-slider2.jpg').bg
                .slide__content-wrap.white-text
                    h1.title-slider
                        span.bigger Contacto
                        span communication management
        li
            div.slide-custom__wrap
                img(src='img/header-slider2.jpg').bg
                .slide__content-wrap.white-text
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        |tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        |quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        |consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        |cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        |proident, sunt in culpa qui officia deserunt mollit anim id est |laborum.
include _uslugi.pug
include _about.pug
include _brands.pug
include _services.pug
include _letters.pug