//- вакансии
.vacancy-popup__wrap.popup__wrap.dn#vacancy-popup
	.b-close.close__popup
	h2.title
		| Вакансии
	.popup__header
		.vacancy__header
			| PR-менеджер
	.popup__content
		p
			| Мы ищем работника который будет знать все приемы PR как «Отче наш», а значит — сможет рассказать о нашихклиента потенциальной аудитории, СМИ, сотрудникам или госструктурам только самое важное и интересное. Лояльность, KPI, лайки обеспечены.
		.popup-content__title
			|ЧТО наш кандидат должен знать, уметь
		ul.popup-content__list
			li.popup-content__item
				| Исследовать маркетинговою ситуацию и конкурентную среду
			li.popup-content__item
				| Распределять тактические цели компании по целевым аудиториям
			li.popup-content__item
				| Формировать имидж
			li.popup-content__item
				| Создание базы СМИ, развитие и поддержание связей со СМИ, аналитиками и экспертами рынка
		form.send-cv_form
			label
				p.cv_input-title Отправьте нам свое резюме
				input(type='file' name='cv' ).cv_input
			button(type='submit').cv_submit Отправить
	.popup__gallery
		.gallery-item
			a(href='img/base_album/1397469106.jpg', data-lightbox='pr_men-popup')
				img(src='img/services/pr/1.jpg')
		.gallery-item
			a(href='img/base_album/1397466787.jpg', data-lightbox='pr_men-popup')
				img(src='img/services/pr/2.jpg')
		.gallery-item
			a(href='img/base_album/s_1397466791.jpg', data-lightbox='pr_men-popup')
				img(src='img/services/pr/3.jpg')
		.gallery-item
			a(href='img/base_album/s_1397468180.jpg', data-lightbox='pr_men-popup')
				img(src='img/services/pr/4.jpg')

//- ELEMENTS TO POPUP   USLUGI
.uslugi-popup__wrap.popup__wrap.uslugi-popup__wrap_pr.dn
	.b-close.close__popup
	h2.title
		|УСЛУГИ
	.popup__header
		a.popup_uslugi-prev(href='#') Предыдущая услуга
		.uslugi__item
			.uslugi__icon.uslugi__icon_pr
			.uslugi__text
				|PR
		a.popup_uslugi-next(href='#') Следующая услуга
	.popup__quote-wrap
		p.quote "Пусть хвалит тебя другой, а не уста твои, — чужой, <br> я не язык твой."
		p.author Притчи Соломоновы, 27:2

	.popup__content
		p
			| Мы знаем все приемы PR как «Отче наш», а значит — сможем рассказать о вас потенциальной аудитории, СМИ, сотрудникам или госструктурам только самое важное и интересное. Лояльность, KPI, лайки обеспечены.
		.popup-content__title
			| Агентство выполняет:
		ul.popup-content__list
			li.popup-content__item
				| Исследования маркетинговой ситуации и конкурентной среды
			li.popup-content__item
				| Распределение тактических целей компании по целевым аудиториям
			li.popup-content__item
				| Выбор каналов коммуникации
			li.popup-content__item
				| Формирование имиджа и управление репутацией
			li.popup-content__item
				| Создание базы СМИ, развитие и поддержание связей со СМИ, аналитиками и экспертами рынка
			li.popup-content__item
				| Организация пресс-мероприятий
			li.popup-content__item
				| Организация пресс-центров
			li.popup-content__item
				| Создание и выпуск корпоративных изданий
			li.popup-content__item
				| Подготовка годовых отчетов
	.popup__gallery
		.gallery-item
			a(href='img/base_album/1397469106.jpg', data-lightbox='uslugi-pr-popup')
				img(src='img/services/pr/1.jpg')
		.gallery-item
			a(href='img/base_album/1397466787.jpg', data-lightbox='uslugi-pr-popup')
				img(src='img/services/pr/2.jpg')
		.gallery-item
			a(href='img/base_album/s_1397466791.jpg', data-lightbox='uslugi-pr-popup')
				img(src='img/services/pr/3.jpg')
		.gallery-item
			a(href='img/base_album/s_1397468180.jpg', data-lightbox='uslugi-pr-popup')
				img(src='img/services/pr/4.jpg')

//- День рождения Angry Birds Activity Park  ПРОЕКТ

.services__popup
	.services__popup-wrap
		.close__popup-block.b-close
		.services__title-photo(style='background-image: url("../img/birds_bg.jpg")')
			//- img(src="img/events/birds/bg.jpg", alt="")
			.services__popup-ics
				.s__popup-item
					.uslugi__icon.uslugi__icon_events
					.uslugi__text EVENT
				//- есть подбные классы для всех услуг  .uslugi__icon_ХХХ
				//- или же можно инлайново писать картинку но уже без .uslugi__icon_ХХХ
				//- .uslugi__icon(style='backgound-image: ....')
				.s__popup-item
					.uslugi__icon.uslugi__icon_pr
					.uslugi__text PR
			.services__popup-navigation
				a.services__popup-prev(href='#') Предыдущее событие
				a.services__popup-next(href='#') Следующее событие
		.services__block.project-details
			span.dscr-title
				| День рождения Angry Birds Activity Park
			div.clearfix
				p.ttur
					| клиент:
				p.ttll
					| Angry Birds Activity Park
			div.clearfix
				p.ttur
					| дата:
				p.ttll
					| 23 – 24 апреля 2016 г.
			div.clearfix
				p.ttur
					| место проведения:
				p.ttll
					| Angry Birds Activity Park
		//- .services__block.bg_grey
		//- 	span.dscr-title
		//- 		|ЗАДАЧИ
		//- 	ul.todo-list
		//- 		li
		//- 			|Организация и проведение мероприятия.
		//- 		li
		//- 			| Разработка и реализация уникальной креативной концепции мероприятия.
		//- 		li
		//- 			| 	Оригинальное оформление мероприятия. Создание сценических декораций.
		//- 		li
		//- 			| 	Технической обеспечение мероприятия.
		//- 		li
		//- 			|  	Организация работы интерактивных зон: барабанный и кулинарный мастер-классы,  фото-зона с участием животных (мини-пиги, попугай, сокол), аквагрим.
		//- 		li
		//- 			|  	Организация выступления артистов оригинального жанра.
		//- .services__block.bg_grey
		//- 	span.dscr-title
		//- 		| РЕЗУЛЬТАТЫ ПРОЕКТА
		//- 	p
		//- 		|Подбор и букинг площадки <br>
		//- 		|PR сопровождение проекта <br>
		//- 		|Приглашение vip гостей <br>
		//- 		|Приглашение прессы <br>
		//- 		|Реализация партнерской программы <br>
		//- 		|Разработка и реализация креативной концепции <br>
		//- .services__info
		//- 	p
		//- 		|19 декабря 2013 года коммуникационное агентство CONTACTO, <br>
		//- 		|вдохновленное популярным шоу Ивана Урганта, организовало новогоднее <br>
		//- 		|мероприятие для группы компаний «Автопродикс». Гости на один вечер <br>
		//- 		|«перенеслись» в одну из студий  «Останкино» и почувствовали себя <br>
		//- 		|настоящими звездами телеэфира. <br>
		.services__footer
			.services__img-wrap
				.img-item
					a(href='img/events/birds/2.jpg', data-lightbox='services-popup')
						img(src="img/events/birds/2.jpg", alt="")
				.img-item
					a(href='img/events/birds/3.jpg', data-lightbox='services-popup')
						img(src="img/events/birds/3.jpg", alt="")
				.img-item
					a(href='img/events/birds/4.jpg', data-lightbox='services-popup')
						img(src="img/events/birds/4.jpg", alt="")
				.img-item
					a(href='img/events/birds/5_b.jpg', data-lightbox='services-popup')
						img(src="img/events/birds/5.jpg", alt="")
				.img-item
					a(href='img/events/birds/6_b.jpg', data-lightbox='services-popup')
						img(src="img/events/birds/6.jpg", alt="")
				.img-item._video
					a.video-container(data-video='https://www.youtube.com/embed/XGSy3_Czz8k')
						span.play-ico Играть
.video-popup#video_popup
	.popup-bg
	.video-popup_container
		.close__video-popup
			img(src='img/icons/close-popup.png')
		iframe#video_iframe(src='' allowfullscreen)


