section.services
    .services__wrapper
        .tabs
            ul.tabs__gallery-list
                li.tabs__gallery-item.tabs__gallery-item--active all projects
                li.tabs__gallery-item pr
                li.tabs__gallery-item design
                li.tabs__gallery-item btl
                li.tabs__gallery-item creative
                li.tabs__gallery-item events
                li.tabs__gallery-item production            
            
            .gallery__wrapper 
                .gallery__wrapper-item
                    img(src="img/g_1.jpg", alt="")
                    img(src="img/g_2.jpg", alt="") 
                    img(src="img/g_1.jpg", alt="")    
                    img(src="img/g_1.jpg", alt="") 
                    img(src="img/g_1.jpg", alt="")   
                    img(src="img/g_2.jpg", alt="") 
                    img(src="img/g_2.jpg", alt="")                     