section.services.sliders.fixed_slide.dynamicHeight#projects
    .services__wrapper
        .tabs
            ul.tabs__gallery-list
                li.tabs__gallery-item.tabs__gallery-item--active(data-category="all") all projects
                li.tabs__gallery-item(data-category="pr") pr
                li.tabs__gallery-item(data-category="design") design
                li.tabs__gallery-item(data-category="btl") btl
                li.tabs__gallery-item(data-category="creative") creative
                li.tabs__gallery-item(data-category="events") events
                li.tabs__gallery-item(data-category="production") production

            .gallery__wrapper
                 .gallery__list
                    .gallery__wrapper-item
                        .img-big(data-category="pr" data-clients="heinken")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="pr")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="design")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="btl")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный



