section.services.sliders.fixed_slide#projects
    .services__wrapper
        .tabs
            ul.tabs__gallery-list
                li.tabs__gallery-item.tabs__gallery-item--active(data-category="all") all projects
                li.tabs__gallery-item(data-category="pr") pr
                li.tabs__gallery-item(data-category="design") design
                li.tabs__gallery-item(data-category="btl") btl
                li.tabs__gallery-item(data-category="creative") creative
                li.tabs__gallery-item(data-category="events") events
                li.tabs__gallery-item(data-category="production") production

            .gallery__wrapper
                 .gallery__list
                    .gallery__wrapper-item
                        .img-big(data-category="pr" data-clients="heinken")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="pr")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="design")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="btl")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                    .gallery__wrapper-item
                        .img-big(data-category="production")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events" data-clients="gasprom")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-sm(data-category="events")
                            img(src="img/g_2.jpg", alt="")
                            span.dscr
                                | Проект волшебный
                        .img-big(data-category="creative")
                            img(src="img/g_1.jpg", alt="")
                            span.dscr
                                | Проект волшебный


.services__popup
    .services__popup-wrap
        .close__popup-block.b-close
        .services__title-photo
            img(src="img/s_bg_popup.jpg", alt="")
            .services__popup-ics
                .s__popup-item
                    .uslugi__icon.uslugi__icon_pr
                    .uslugi__text PR
                .s__popup-item
                    .uslugi__icon.uslugi__icon_events
                    .uslugi__text EVENTS
        .services__client
            span.dscr-title
                | ВЕЧЕРНИЙ «АВТОПРОДИКС» ON-LINE
            p.ttur
                    | клиент: <br>
                    | дата:  <br>
                    | место проведения: <br>
            p.ttll
                    |Автопродикс <br>
                    |19.03.2015 <br>
                    |Ресторан Беринг <br>
        .services__todo
            span.dscr-title
                |ЗАДАЧИ
            p.
                Разработать креативную концепцию <br>
                Привлечь прессу <br>
                Создать техническое оснащение площадки <br>
                Создать пакет документов <br>
        .services__result
            span.dscr-title
                | РЕЗУЛЬТАТЫ ПРОЕКТА
            p.
                Подбор и букинг площадки <br>
                PR сопровождение проекта <br>
                Приглашение vip гостей <br>
                Приглашение прессы <br>
                Реализация партнерской программы <br>
                Разработка и реализация креативной концепции <br>
        .services__info
            p.
                19 декабря 2013 года коммуникационное агентство CONTACTO, <br>
                вдохновленное популярным шоу Ивана Урганта, организовало новогоднее <br>
                мероприятие для группы компаний «Автопродикс». Гости на один вечер <br>
                «перенеслись» в одну из студий  «Останкино» и почувствовали себя <br>
                настоящими звездами телеэфира. <br>
        .services__footer
            .services__img-wrap
                .img-item
                    a(href='img/s_popup_f_1.jpg', data-lightbox='services-popup')
                        img(src="img/s_popup_f_1.jpg", alt="")
                .img-item
                    a(href='img/s_popup_f_2.jpg', data-lightbox='services-popup')                
                        img(src="img/s_popup_f_2.jpg", alt="")
                .img-item
                    a(href='img/s_popup_f_3.jpg', data-lightbox='services-popup')            
                        img(src="img/s_popup_f_3.jpg", alt="")
                .img-item
                    a(href='img/s_popup_f_4.jpg', data-lightbox='services-popup')                
                        img(src="img/s_popup_f_4.jpg", alt="")
                .img-item
                    a(href='img/s_popup_f_4.jpg', data-lightbox='services-popup')                
                        img(src="img/s_popup_f_4.jpg", alt="")
                .img-item
                    .video-container
                        iframe(src='https://www.youtube.com/embed/XGSy3_Czz8k')
