section.services
    .services__wrapper
        ul.services__gallery-list
            li.services__gallery-item
                a.services__gallery-link.services__gallery-link--active(href='#tab1') all projects
            li.services__gallery-item
                a.services__gallery-link(href='#tab2') pr
            li.services__gallery-item
                a.services__gallery-link(href='#tab3') design
            li.services__gallery-item
                a.services__gallery-link(href='#tab4') btl
            li.services__gallery-item
                a.services__gallery-link(href='#tab5') creative
            li.services__gallery-item
                a.services__gallery-link(href='#tab6') events
            li.services__gallery-item
                a.services__gallery-link(href='#tab7') production            
            
            #tab1
                p Hi, this is the first tab.
            #tab2
                p This is the 2nd tab.
            #tab3
                p And this is the 3rd tab.
            #tab4
                p And this is the 3rd tab.
            #tab5
                p And this is the 3rd tab.
            #tab6
                p And this is the 3rd tab.
            #tab7
                p And this is the 3rd tab.