section.uslugi
	.container 
		.uslugi__wrap
			.uslugi__item.uslugi__item_pr
				.uslugi__icon.uslugi__icon_pr
				.uslugi__text
					|PR
			.uslugi__item.uslugi__item_events
				.uslugi__icon.uslugi__icon_events
				.uslugi__text
					|EVENTS
			.uslugi__item.uslugi__item_btl
				.uslugi__icon.uslugi__icon_btl
				.uslugi__text
					|BTL
			.uslugi__item.uslugi__item_creative
				.uslugi__icon.uslugi__icon_creative
				.uslugi__text
					|CREATIVE
			.uslugi__item.uslugi__item_video
				.uslugi__icon.uslugi__icon_video
				.uslugi__text
					|VIDEO
			.uslugi__item.uslugi__item_design
				.uslugi__icon.uslugi__icon_design
				.uslugi__text
					|DESIGN
			.uslugi__item.uslugi__item_production
				.uslugi__icon.uslugi__icon_production
				.uslugi__text
					|PRODUCTION
			.uslugi__item.uslugi__item_smm
				.uslugi__icon.uslugi__icon_smm
				.uslugi__text
					|SMM
			
