section.uslugi.sliders#uslugi
	.container
		.uslugi__wrap
			.uslugi__item.uslugi__item_pr
				.uslugi__icon.uslugi__icon_pr
				.uslugi__text
					|PR
			.uslugi__item.uslugi__item_events
				.uslugi__icon.uslugi__icon_events
				.uslugi__text
					|EVENTS
			.uslugi__item.uslugi__item_btl
				.uslugi__icon.uslugi__icon_btl
				.uslugi__text
					|BTL
			.uslugi__item.uslugi__item_creative
				.uslugi__icon.uslugi__icon_creative
				.uslugi__text
					|CREATIVE
			.uslugi__item.uslugi__item_video
				.uslugi__icon.uslugi__icon_video
				.uslugi__text
					|VIDEO
			.uslugi__item.uslugi__item_design
				.uslugi__icon.uslugi__icon_design
				.uslugi__text
					|DESIGN
			.uslugi__item.uslugi__item_production
				.uslugi__icon.uslugi__icon_production
				.uslugi__text
					|PRODUCTION
			.uslugi__item.uslugi__item_smm
				.uslugi__icon.uslugi__icon_smm
				.uslugi__text
					|SMM
//- ELEMENTS TO POPUP
.uslugi-popup__wrap.popup__wrap.uslugi-popup__wrap_pr.dn
	.b-close.close__popup
	h2.title
		|УСЛУГИ
	.popup__header
		.popup-uslugi__navigation
			a.popup_uslugi-prev(href='#') Предыдущая услуга
			a.popup_uslugi-next(href='#') Следующая услуга
		.popup-header__logo
			a.logo(href='#')
				img.logo-img(src='img/logo.png')
		.popup-header__image
			.uslugi__item.uslugi__item_pr
				.uslugi__icon.uslugi__icon_pr
				.uslugi__text
					|PR
		.popup-header__social
			.socials_block
				ul.social__list
					li.social__item
						a.social__link.social__link_fb(href='#')
					li.social__item
						a.social__link.social__link_vk(href='#')
					li.social__item
						a.social__link.social__link_insta(href='#')
	.popup__quote-wrap
		p.quote "Пусть хвалит тебя другой, <br> а не уста твои, — чужой, <br> я не язык твой."
		p
			strong Притчи Соломоновы, 27:2

	.popup__content
		p
			| Мы знаем все приемы PR как «Отче наш», а значит — сможем рассказать о вас потенциальной аудитории, СМИ, сотрудникам или госструктурам только самое важное и интересное. Лояльность, KPI, лайки обеспечены.
		.popup-content__title
			|ЗНАЕМ, УМЕЕМ, ДЕЛАЕМ
		ul.popup-content__list
			li.popup-content__item
				| Исследования маркетинговой ситуации и конкурентной среды
			li.popup-content__item
				| Распределение тактических целей компании по целевым аудиториям
			li.popup-content__item
				| Выбор каналов коммуникации
			li.popup-content__item
				| Формирование имиджа и управление репутацией
			li.popup-content__item
				| Создание базы СМИ, развитие и поддержание связей со СМИ, аналитиками и экспертами рынка
			li.popup-content__item
				| Организация пресс-мероприятий
			li.popup-content__item
				| Организация пресс-центров
			li.popup-content__item
				| Создание и выпуск корпоративных изданий
			li.popup-content__item
				| Подготовка годовых отчетов
	.popup__gallery
		.gallery-item
			a(href='img/base_album/1397469106.jpg', data-lightbox='gallery-popup')
				img(src='img/base_album/1397469106.jpg')
		.gallery-item
			a(href='img/base_album/1397466787.jpg', data-lightbox='gallery-popup')
				img(src='img/base_album/1397466787.jpg')
		.gallery-item
			a(href='img/base_album/s_1397466791.jpg', data-lightbox='gallery-popup')
				img(src='img/base_album/s_1397466791.jpg')
		.gallery-item
			a(href='img/base_album/s_1397468180.jpg', data-lightbox='gallery-popup')
				img(src='img/base_album/s_1397468180.jpg')




