section.uslugi#uslugi
	.container
		.uslugi__wrap
			.uslugi__item.uslugi__item_pr
				.uslugi__icon.uslugi__icon_pr
				.uslugi__text
					|PR
			.uslugi__item.uslugi__item_events
				.uslugi__icon.uslugi__icon_events
				.uslugi__text
					|EVENTS
			.uslugi__item.uslugi__item_btl
				.uslugi__icon.uslugi__icon_btl
				.uslugi__text
					|BTL
			.uslugi__item.uslugi__item_creative
				.uslugi__icon.uslugi__icon_creative
				.uslugi__text
					|CREATIVE
			.uslugi__item.uslugi__item_video
				.uslugi__icon.uslugi__icon_video
				.uslugi__text
					|VIDEO
			.uslugi__item.uslugi__item_design
				.uslugi__icon.uslugi__icon_design
				.uslugi__text
					|DESIGN
			.uslugi__item.uslugi__item_production
				.uslugi__icon.uslugi__icon_production
				.uslugi__text
					|PRODUCTION
			.uslugi__item.uslugi__item_smm
				.uslugi__icon.uslugi__icon_smm
				.uslugi__text
					|SMM
//- ELEMENTS TO POPUP
.uslugi-popup__wrap.uslugi-popup__wrap_pr

//- ELEMENTS TO POPUP
.uslugi-popup__wrap.uslugi-popup__wrap_pr.dn
	h2.title
		|УСЛУГИ
	.popup__header
		.popup-header__logo
			a.logo(href='#')
				img.logo-img(src='img/logo.png')
		.popup-header__image
			.uslugi__item.uslugi__item_pr
				.uslugi__icon.uslugi__icon_pr
				.uslugi__text
					|PR
		.popup-header__social
			.socials_block
				ul.social__list
					li.social__item
						a.social__link.social__link_fb(href='#')
					li.social__item
						a.social__link.social__link_vk(href='#')
					li.social__item
						a.social__link.social__link_insta(href='#')
	.popup__quote
		|«ВЕСТИ БИЗНЕС БЕЗ PR — ВСЕ РАВНО,ЧТО <br>
		|ПОДМИГИВАТЬ ДЕВУШКАМ <br>
		|В ПОЛНОЙ ТЕМНОТЕ. <br><br>

		|В ОБОИХ СЛУЧАЯХ О СВОИХ <br>
		|ДЕЙСТВИЯХ ЗНАЕТЕ ТОЛЬКО ВЫ».
	.popup__content
		.popup-content__title
			|ЗНАЕМ, УМЕЕМ, ДЕЛАЕМ
		ul.popup-content__list
			li.popup-content__item
				|Исследования маркетинговой ситуации и конкурентной среды / Аудит информационного поля клиента и конкурентной среды
			li.popup-content__item
				|Распределение тактических целей компании по целевым аудиториям/ Разработка PR-стратегий  и комплексных коммуникационных кампаний
			li.popup-content__item
				|Выбор каналов коммуникации
			li.popup-content__item
				|Формирование имиджа и управление репутацией
			li.popup-content__item
				|Создание базы СМИ, развитие и поддержание связей со СМИ, аналитиками и экспертами рынка
			li.popup-content__item
				|Организация пресс-мероприятий
			li.popup-content__item
				|Организация пресс-центров
			li.popup-content__item
				|Мониторинг и анализ публикаций в СМИ
			li.popup-content__item
				|Разработка и выпуск корпоративных изданий
			li.popup-content__item
				|Подготовка годовых отчетов
			li.popup-content__item
				|Медиатренинги
			li.popup-content__item
				|Поддержка сайта компании
	.popup__gallery
		.gallery-item
			a(href='img/face.jpg', data-lightbox='gallery-popup')
				img(src='img/face.jpg')
		.gallery-item
			a(href='img/face.jpg', data-lightbox='gallery-popup')
				img(src='img/face.jpg')
		.gallery-item
			a(href='img/face.jpg', data-lightbox='gallery-popup')
				img(src='img/face.jpg')
		.gallery-item
			a(href='img/face.jpg', data-lightbox='gallery-popup')
				img(src='img/face.jpg')




