// Стили для секции Про нас

/* Пользовательские настройки плагинов*/
body, html{
	height: 100%;
}
.about__wrap{

	img{
		width: 100%;
		max-height: 680px;
	}
	.bx-wrapper .bx-prev {
	width: 50px;
	height: 50px;
	background: url('../img/about/arrow_left.png') no-repeat;
	background-size: cover;
	transition: 0.3;
	left: 1%;
	}
	.bx-wrapper .bx-next {
	width: 50px;
	height: 50px;
	background: url('../img/about/arrow_right.png') no-repeat;
	background-size: cover;
	transition: 0.3;
	right: 1%;
	}
	.bx-wrapper .bx-prev:hover,
	.bx-wrapper .bx-next:hover {
		// background: #000;
		opacity: 0.8;
	}
	.bx-prev, .bx-next{
		content: "";
		position: absolute;
		top:0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.45;
		border-radius: 50%;
		z-index: 9999;
	}
	.bx-wrapper{
		margin-bottom: 0;
	}		
	.bx-viewport{
		height: auto !important;
	}
}
.about{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#568900+0,84bb14+50,568900+100 */
	background: #568900; /* Old browsers */
	background: -moz-linear-gradient(top,  #568900 0%, #84bb14 50%, #568900 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #568900 0%,#84bb14 50%,#568900 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #568900 0%,#84bb14 50%,#568900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#568900', endColorstr='#568900',GradientType=0 ); /* IE6-9 */
	padding: 55px 0 140px 0;
	color: #fff;
	min-height: 680px;
}
.about__title{
	@include font-size(40px);
	text-align: center;
	margin-bottom: 88px;
	text-transform: uppercase;
}
.about__details{
	max-width: 	1100px;
	@include font-size(20px);
	text-align: center;
	margin: 0 auto;
	margin-bottom:82px;
}
// Cтили для списка фотографий сотрудников CONTACTO
.about-faces{
	&__wrap{
		max-width: 	1344px;
		margin:0 auto;
	}
	&__list{
		position: relative;
		height: 200px;
	}
	&__item{
		width: 200px;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		background-size: contain;
		background-position: center center;
		cursor: pointer;
			&:before{
				content: "";
				position: absolute;
				top:0;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.45;
				border-radius: 50%;
				z-index: 1;
			}
			&:hover:before{
				display: none;
			}
			&:after{
				content: "";
				position: absolute;
				top:0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
				z-index: 2;
			}
			&:hover:after{
				display: none;
			}
		& img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
			-webkit-filter: grayscale(100%);
			&:hover{
				-webkit-filter: grayscale(0);
				z-index: 100;
			}
		}
		&_c{
			left:8%;
			z-index:10;
			&:hover{
				z-index: 100;
			}
			&:hover .about-faces__detail_c{
				visibility: visible;
			}
			&:after{
				background-image: url(../img/about/c1l.png);
			}
		}
		&_o{
			left:18%;
			z-index:11;
			&:hover{
				z-index: 100;
			}
			&:hover .about-faces__detail_o{
				visibility: visible;
			}
			&:after{
				background-image: url(../img/about/c2l.png);
			}
		}
		&_n{
			left:28%;
			z-index:12;
			&:hover{
				z-index: 100;
			}
			&:hover .about-faces__detail_n{
				visibility: visible;
			}
			&:after{
				background-image: url(../img/about/c3l.png);
			}
		}
		&_t{
			left:38%;
			z-index:13;
			&:hover{
				z-index: 100;
			}
			&:hover .about-faces__detail_t{
				visibility: visible;
			}
			&:after{
				background-image: url(../img/about/c4l.png);
			}
		}
		&_a{
			left:48%;
			z-index:14;
			&:hover{
				z-index: 100;
			}
			&:hover .about-faces__detail_a{
				visibility: visible;
			}
			&:after{
				background-image: url(../img/about/c5l.png);
			}
		}
		&_ct{
			left:58%;
			z-index:15;
			&:hover{
				z-index: 100;
			}
			&:hover .about-faces__detail_ct{
				visibility: visible;
			}
			&:after{
				background-image: url(../img/about/c6l.png);
			}
		}
		&_ta{
			left:68%;
			z-index:16;
			&:hover{
				z-index: 100;
			}
			&:hover .about-faces__detail_ta{
				visibility: visible;
			}
			&:after{
				background-image: url(../img/about/c7l.png);
			}
		}
		&_oo{
			left:78%;
			z-index:17;
			&:hover{
				z-index: 100;
			}
			&:hover .about-faces__detail_oo{
				visibility: visible;
			}
			&:after{
				background-image: url(../img/about/c8l.png);
			}
		}
	}
}
// Стили для подписей к фотографиям CONTACTO
.about-faces__detail{
	visibility: hidden;
	// display: none	;
	position: absolute;
	text-align: right;
	padding: 5px 0;
	.position{
		@include font-size(14px);
		margin-bottom: 5px;
	}
	.name{
		@include font-size(17px);
	}
}
// ------------------------------------MEDIA---------------------------------
@include breakpoint(1300){
	.about__title{
		margin-bottom: 80px;
	}
	.about__details{
		@include font-size(21px);
		text-align: center;
		margin-bottom: 40px;
	}
}
@include breakpoint(1050){
	.about-faces__detail{
		display: none;
	}
	.bx-wrapper{
		margin-bottom: 0;
	}
	.about{
		padding:30px 0 40px;
	}
	.about__title{
			@include font-size(45px);
			margin-bottom: 40px;
	}
	.about__details{
		@include font-size(16px);
		text-align: center;
		margin-bottom: 20px;
	}
	.about-faces{
			&__list{
				height: auto;
				vertical-align: top	;
			    text-align: justify;
			    text-align-last: justify;
			}
			&__item{
			display: inline-block;
			position: relative;
			& img{
			}
			&_c{
				left:auto;
			}
			&_o{
				left:auto;
			}
			&_n{
				left:auto;
			}
			&_t{
				left:auto;
			}
			&_a{
				left:auto;
			}
			&_ct{
				left:auto;
			}
			&_ta{
				left:auto;
			}
			&_oo{
				left:auto;
			}
		}
	}
}
@include breakpoint(940){
	.about{
		min-height:auto;
	}
	.about-faces__list{
		padding: 0 25px;
	}
	.about-faces__item{
		width: 180px;
		&:after{
		}
	}
}
@include breakpoint(854){
	.about__title{
			@include font-size(25px);
			margin-bottom: 20px;
	}
	.about__details{
		@include font-size(16px);
		text-align: center;
		margin-bottom: 20px;
	}
	.about-faces__item{
		width: 145px;
		&:after{
		}
	}
}
@include breakpoint(705){
	.about-faces__item{
		width: 120px;
		&:after{
		}
	}
	.about__details{
		@include font-size(14px);
		text-align: center;
		margin-bottom: 10px;
	}
}
@include breakpoint(597){
	.about-faces__item{
		width: 40%;
		&:after{
		}
	}
}