.header {
    .firstline {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999 ;
        width: 100%;
        background: #ffffff;
        height: 40px;
        box-sizing: border-box;
        .container {
            text-align: center;
            @include clearfix;
          > * {
              vertical-align: middle;
          }
          &:before {
          content: '';
          display: inline-block;
          height: 40px;
          vertical-align: middle;
          margin-left: -0.2em;
          }
        }
    }
}

/* Cтили лого */
.logo {
    display: inline-block;
    float: left;
    margin-top: 8px;
    img{
        max-width: 145px;
    }
}

/* Стили меню */
.landing-menu {
    display: inline-block;
    & > * {
      vertical-align: middle;
    }
}
.menu-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 20px;
  .menu-list__li {
    &:first-of-type {
      margin-left: 0;
    }
    display: inline-block;
    margin-left: 15px;
  }
  .menu-list__a {
    text-transform: uppercase;
    color: #000000;
    font-size: 16px;
    padding: 10px 0;
  }
}

/* Стили Гамбургера */
.hamburger {
    display: none;
}
.hamburger .line{
  width: 20px;
  height: 3px;
  background-color: #a9aaac;
  display: block;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-2px) rotate(-45deg);
  -ms-transform: translateY(-2px) rotate(-45deg);
  -o-transform: translateY(-2px) rotate(-45deg);
  transform: translateY(-2px) rotate(-45deg);
}
#hamburger.is-active + .menu-list {
    display: block !important;
}



/* Блок соц сетей */
.socials_block {
    display: inline-block;
    margin-top: 7px;
    position: relative;
    z-index: 2;
    float: right;
}
.social__list {
    display: inline-block;
}
.social__item {
    display: inline-block;
    margin-right: 14px;
    &:last-child{
        margin-right: 0;
    }
}
.social__link {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 26px;
    height: 26px;
    display: block;
}
.social__link_vk, .social__link_vk:hover {
    background-image: url(../img/icons/vk-square.svg);
}
.social__link_fb, .social__link_fb:hover {
    background-image: url(../img/icons/fb-square.svg);
}
.social__link_insta, .social__link_insta:hover {
    background-image: url(../img/icons/insta-square.svg);
}
@media only screen and (min-width: 1025px){
    .header-slider {
        .slide-custom__wrap {
            min-height: 600px;
            max-height: 100vh;
            height: 100vh;
            }
    }
}
.header-slider {
    .bx-wrapper {
        margin: 0 auto 0;
    }
    .slide-custom__wrap {
        position: relative;
        max-height: 600px;
        // max-height: 100vh;
        // height: 100vh;
        overflow: hidden;
        img.bg {
            max-width: 100%;
            z-index: 0;
            position: relative;
            // min-height: 600px;
        }
        .slide__content-wrap {
            position: absolute;
            width: 80%;
            left: 10%;
            top: 50%;
            transform: translate3d(0,-50%,0)
        }
        .slide__content-wrap.white-text {
            color: white;
        }
        .slide__content-wrap.black-text {
            color: black;
        }
        .title-slider {
            color: #ffffff;
            font-size: 30px;
            text-align: center;
            font-weight: 300;
            .bigger {
                font-size: 75px;
                text-transform: uppercase;
            }
            span {
                display: block;
            }
        }
    }
}
// Мої стилі
.db{
    display: block !important;
}
.dispn{
    display: none !important;
}

// .socials_block_menu-s{
//     display: block;
//     // margin-left: 40px;
//     margin-top: 5px;
//     position: relative;
//     z-index: 2;
//     float: none;
// }
.socials_block_menu{
    display: none;
}



/* Пользовательские настройки плагинов*/
.header-slider {
        visibility: hidden;
        opacity: 0;
        transition: 2s;
    .bx-wrapper .bx-prev {
      background: url('../img/bxslider/left_arrow.png') no-repeat;
      background-size: cover;
      transition: 0.3s;
      left: 3.125%;
    }
    .bx-wrapper .bx-next {
      background: url('../img/bxslider/right_arrow.png') no-repeat;
      background-size: cover;
      transition: 0.3s;
      right: 3.125%;
    }
    .bx-wrapper .bx-prev:hover,
    .bx-wrapper .bx-next:hover {
        opacity: 0.8;
}

}
@media only screen and (max-width: 1190px){
    .social__item {
        display: inline-block;
        margin-right: 2px;
    }
    .menu-list{
        margin-left: 0;
    }
    .menu-list__a{
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 1070px) {
    #hamburger{
        display: block;
        width: 40px;
        height: 38px;
        padding: 12px 8px;
        margin-left: -34px;
    }
    .landing-menu {
        position: absolute;
    }
    .menu-list {
        transition: all 1s;
        // right: 0;
        margin: 0;
        background: white;
        display: none;
        // width: 200px;
        width: inherit;
        position: absolute;
        top: 100%;
        .menu-list__li {
            display: block;
            padding: 10px;
            margin: 0;
        }
        .menu-list__a {
            margin: 10px;
        }
    }
    .socials_block{
        // margin-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    // .menu-list {
    //     position: relative;
    //     width: 100%;
    //     left: -50%;
    //     margin-left: 3.125%;
    // }
    // .landing-menu {
    //     position: absolute;
    //     width: 100%;
    // }
    .header-slider {
        .slide-custom__wrap {
            .title-slider {
                font-size: 25px;
                .bigger {
                    font-size: 60px;
                }
                span {
                    display: block;
                }
            }
        }
    }
    .header-slider .slide-custom__wrap img.bg {
        max-width: 125%;
        margin-left: -12.5%;
    }
}

@media only screen and (max-width: 600px) {
    .header-slider {
        .slide-custom__wrap {
            .title-slider {
                font-size: 20px;
                .bigger {
                    font-size: 50px;
                }
            }
        }
    }
    .social__item{
        margin-right: 0;
    }

    .header-slider .slide-custom__wrap img.bg {
        max-width: 150%;
        margin-left: -25%;
    }


}
@media only screen and (max-width: 450px) {
    .landing-menu{
        right: 2%;
    }
    .socials_block-header{
        display: none;
    }
    .socials_block_menu{
        display: block;
    }
}
@media only screen and (max-width: 400px) {
    .header-slider {
        .slide-custom__wrap {
            .title-slider {
                font-size: 16px;
                .bigger {
                    font-size: 40px;
                }
            }
        }
    }
}