.letters {
    padding-bottom: 50px;
    background: rgb(0,0,0);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDM0MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(52,52,51,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(66%,rgba(0,0,0,1)), color-stop(100%,rgba(52,52,51,1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 66%,rgba(52,52,51,1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 66%,rgba(52,52,51,1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 66%,rgba(52,52,51,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 66%,rgba(52,52,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#343433',GradientType=0 );
}
.letters_label {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 80px 0px;
}
.letters-slider-wrap {
    position: relative;
}

.letters-wrap  {
    // height: 736px;
    position: relative;
    // overflow: hidden;
    padding-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .item {
        display: block;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        background-position-x: center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;

        &:after {
            background-image: url(../img/slides/6/small_shadow.png);
            background-position: center top;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            content: '';
            display: block;
            width: 100%;
            height: 170px;
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
    }
    .item_hidden
    {
        width: 100px;
        height: 150px;
        top: 100px;
        left: 460px;
        z-index: 69;
    }

    .item_left
    {
        background-position-y: 30px;
        width: 26.18577075098814%;
        height: 600px;
        top: 40px;
        left: 0px;
        z-index: 71;
    }


    .item_center
    {
        background-position-y: 0px;
        width: 35.17786561264822%;
        height: 700px;
        top: 0px;
        left: 332px;
        z-index: 72;
    }

    .item_right
    {
        background-position-y: 30px;
        width: 26.18577075098814%;
        height: 600px;
        left: 755px;
        top: 40px;
        z-index: 71;
    }
    .slick-slide {
        // width: 26.18577075098814% !important;
        // width: 265px !important;
        position: relative;
        transition: 1s;
        margin-top: 20px;
        text-align: center;
        transform: scale(0.8);
        .img-wrap {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 200px;
            &:after {
                background-image: url(../img/slides/6/small_shadow.png);
                background-position: center top;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                content: '';
                display: block;
                width: 100%;
                height: 170px;
                position: absolute;
                left: 0px;
                bottom: 0px;
            }
        }
        img {
            max-width: 100%;
            max-height: 470px;
        }
    }
   .slick-active {
        .img-wrap {
            position: relative;
            left: -30px;
        }
    }
     .slick-slide.slick-center {
        img {
            max-width: 100%;
            max-height: none;
        }
        .img-wrap {
            left: 0;
           &:after {
                margin-left: 0;
            }
        }
        transform: scale(1);
        margin-top: 0px;
        margin-right: 0;
        // margin-left: 60px;
        // margin-right: 60px;
        // width: 35.17786561264822% !important;
        // width: 356px !important;
    }
    .slick-slide.slick-center + .slick-active {
        .img-wrap {
            left: 30px;
        }
    }
    .slick-prev:before {
        content: '';
        position: absolute;
        left: -60px;
        top: 0;
        bottom: 0;
        width: 39px;
        height: 39px;
        cursor: pointer;
        background-image: url(../img/slides/6/arrow_left.png) ;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }
    .slick-next:before  {
        content: '';
        right: -60px;
        top: 0;
        bottom: 0;
        position: absolute;
        width: 39px;
        height: 39px;
        cursor: pointer;
        background-image: url(../img/slides/6/arrow_right.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: auto;
    }

}

#paralax_1,
#paralax_2 {
    img {
        max-width: 100%;
        visibility: hidden;
    }
}
#paralax_1 {
    width: 100%;
    background-image: url(../img/paralax_1.png);
    background-position-x: center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
#paralax_2 {
    width: 100%;
    background-image: url(../img/paralax_2.png);
    background-position-x: center;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts_block {
    .container {
        padding: 70px 0;
        text-align: center;
        font-size: 0;
    }
    @include clearfix;
    #cont_note_1 ,
    #cont_note_2,
    #cont_logo{
        vertical-align: middle;
        font-size: 16px;
        display: inline-block;
        text-align: center;
    }
    #cont_note_1 {
        width: 35%;
        padding: 0 10px;
    }
    #cont_logo{
        position: relative;
        /*left: -35%;*/
        width: 30%;
        min-width: 200px;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    #cont_note_2{
        position: relative;
        /*left: 30%;*/
        width: 35%;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .letters-wrap  {
        .slick-prev:before {
            left: -45px;
            height: 60px;
            width: 60px;
            background-size: cover;
        }
        .slick-next:before  {
            right: -45px;
            width: 60px;
            height: 60px;
            background-size: cover;

        }
    }
    .letters {
    padding-bottom: 40px;
    }
}
@media only screen and (max-width: 800px) {
.contacts_block {
    .container {
        padding: 60px 0;
    }
    #cont_note_1 {
        width: 50%;
        padding: 0;
    }
    #cont_logo{
        left: 0%;
        width: 50%;
        margin-top: 25px;
    }
    #cont_note_2{
        padding-left: 10px;
        left: 0;
        width: 50%;
    }
}
}
@media only screen and (max-width: 768px) {
    .letters {
    padding-bottom: 20px;
    }
    .letters_label {
        margin: 50px 0;
        font-size: 25px;
    }
    .letters-wrap  {
        .slick-slide {
            img {
                max-height: 300px;
            }
           &:after {
                width: 100%;
                height: 105px;
            }
            .img-wrap {
                padding-bottom: 180px;
            }
        }
        .slick-prev:before {
            left: -30px;
            height: 50px;
            width: 50px;
            background-size: cover;
        }
        .slick-next:before  {
            right: -30px;
            width: 50px;
            height: 50px;
            background-size: cover;

        }
    }
}
@media only screen and (max-width: 600px) {
    .contacts_block {
        .container {
            padding: 50px 0;
        }
        #cont_note_1 {
            width: 100%;
            padding: 0;
        }
        #cont_logo{
            left: 0%;
            width: 100%;
            margin-top: 10px;
            bottom: 62px;
            img {
                width: 50%;
                min-width: 250px;
            }
        }
        #cont_note_2{
            top: 72px;
            padding-left: 10px;
            left: 0;
            width: 100%;
            margin-top: 0px;
        }
    }
}
@media only screen and (max-width: 480px) {
    .letters {
    padding-bottom: 0px;
    }
    .letters_label {
        margin: 30px 0;
        font-size: 20px;
    }
    .letters-wrap  {
        .slick-slide {
           &:after {
                height: 100px;
            }

        }
        .slick-slide.slick-center {
        transform: scale(1);
        }
        .slick-prev:before {
            left: -15px;
            height: 30px;
            width: 30px;
            background-size: cover;
        }
        .slick-next:before  {
            right: -15px;
            width: 30px;
            height: 30px;
            background-size: cover;
        }
    }

}