.services {
    overflow-x: hidden;
    background: url("../img/services_bg.jpg") center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    padding:  {
        top: 45px;
        bottom: 145px;
    }
}
.tabs {
    &__gallery {
        &-list {
            list-style-type: none;
            text-align: center;
            margin-bottom: 45px;
        }
        &-item {
            cursor: pointer;
            display: inline-block;
            margin-right: 15px;
            margin-left:  15px;
            &:last-child {
                margin-right: 0;
            }
            &:first-child{
                margin-left: 0;
            }
            text-decoration: none;
            text-transform: uppercase;
            font-size: em(24px);
            font-weight: 600;
            color: #b3b1ac;
            @include transition(.3s);
            outline: none;
            &:hover {
                color: #d4d4d4;
            }
            &--active {
                color: #b8ce2b;
            }
        }
    }
}
.gallery {
    &__wrapper {
        div {
            outline: none;
        }
        .slick {
            &-prev,
            &-next {
                top: 100%;
                margin-top: 45px;
                z-index: 10;
                &:before {
                    content: "";
                    position: absolute;
                    width: 39px;
                    height: 39px;
                }
            }
            &-prev {
                &:before {
                    left: 60px;
                    background: url("../img/bxslider/left_arrow.png");
                }
            }
            &-next {
                &:before {
                    right: 60px;
                    background: url("../img/bxslider/right_arrow.png");
                }
            }
        }

        &-item {
            max-width: 565px;
            @include clearfix;
            div {
                float: left;
                margin:  {
                    right: 20px;
                    bottom: 20px;
                }
            }
            .img-big {
                width: 350px;
                height: 175px;
                height: auto;
                position: relative;
                cursor: pointer;
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .img-sm {
                height: 175px;
                width: 175px;
                height: auto;
                position: relative;
                cursor: pointer;
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    min-width: 100%;
                    max-height: 100%;
                }
                .dscr {
                    text-align: center;
                    padding:  {
                        top: 5px;
                        bottom: 5px;
                        left: 0;
                    }
                }
            }
            .dscr {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0,0,0,.75);
                color: #fff;
                font-size: em(16px);
                padding:  {
                    top: 5px;
                    bottom: 5px;
                    left: 15px;
                }
            }
        }
    }
    &__list {
        max-width: 100%;
    }
}
.services__popup {
    width: 768px;
    min-height: 500px;
    margin: 0 auto;
    background: url("../img/services_bg.jpg");
    background-repeat: round;
    display: none;
    .close__popup-block {
        position: absolute;
        top: 9px;
        right: 20px;
        width: 30px;
        height: 30px;
        background: url(../img/icons/close-popup.png);
        background-size: 65%;
        background-position: 50%;
        background-repeat: no-repeat;
        border: 1px solid transparent;
        border-radius: 50%;
        background-clip: padding-box;
        cursor: pointer;
        -webkit-transition: .25s;
                transition: .25s;
        z-index: 11;
    }
    .services__title-photo {
        position: relative;
        .img-wrap{
            img {
                max-width: 100%;
                display: block;
            }
        }
    }
    &-ics {
        text-align: center;
        @include clearfix;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 13%;
    }
    &-navigation {
        width: 100%;
        @include clearfix;
        position: absolute;
        bottom: 10px;
        margin-top: -19px;
        padding: 0 15px;
    }
    &-prev,
    &-next {
        width: 39px;
        height: 39px;
        cursor: pointer;
        text-indent: -9999px;
        overflow: hidden;
    }
    &-next {
        float: right;
        background: url(../img/bxslider/right_arrow.png) center center no-repeat;
    }
    &-prev {
        float: left;
        background: url(../img/bxslider/left_arrow.png) center center no-repeat;
    }
    .s__popup-item {
        display: inline-block;
        margin: 0 32px;
        &:last-of-type {
            margin-right: 0;
        }
        .uslugi__text {
            float: none;
            margin: 0;
        }
    }
    .uslugi {
        &__icon {
            float: none;
            margin: 0;
            display: inline-block;
            &_pr {
                background-image: url(../img/pr-hover.png);
            }
            &_events {
                background-image: url(../img/events-hover.png);
            }
        }
    }
}
.services__block {
    padding:  {
        top: 35px;
        bottom: 45px;
    }
    text-align: center;
}
.services__client {
    background: #c8c848;
    text-align: center;
    .dscr-title {
        font-size: em(30px);
        display: block;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .ttur,
    .ttll {
        display: inline-block;
    }
    .ttur {
        text-transform: uppercase;
        text-align: right;
    }
    .ttll {
        text-align: left;
    }
}
.bg_grey {
    background: #c1bfbc;
    color: #fff;
}
.services__info {
    text-align: center;
    padding:  {
        top: 70px;
        bottom: 70px;
        right: 10px;
        left: 10px;
    }
    color: #939393;
}
.services__footer {
    .services__img-wrap {
        @include clearfix();
        background: #000;
    }
    .img-item {
        width: 33.333333%;
        max-height: 232px;
        overflow: hidden;
        float: left;
        .video-container {
            position: relative;
            padding-bottom: 55%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            iframe,
            object,
            embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        img,
        iframe {
            display: block;
        }
    }
}
@include breakpoint(980) {
    .tabs__gallery-item {
        font-size: 18px;
        // margin-right: 25px;
    }
}
@include breakpoint(800) {
    .services__popup {
        left: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
    }
    .services__title-photo {
        img {
            width: 100%;
        }
    }
    .services {
        padding-bottom: 95px;
    }
    .services__footer {
        .img-item {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
            }
            .video-container {
                padding-bottom: 58.8%;
            }
        }
    }
    .gallery__wrapper {
        .slick-next:before,
        .slick-prev:before {
            bottom: 0;
        }
    }
}
@include breakpoint(775) {

    .services__footer {
        .img-item {
            min-height: 190px;
            width: 50%;
            .video-container {
                padding-bottom: 58.8%;
            }
        }
    }
}
@include breakpoint(700) {
    .tabs__gallery-item {
        font-size: 15px;
    }
}
@include breakpoint(565) {
    // .gallery__wrapper-item{
    //     div{
    //         &:nth-child(2),
    //         &:nth-child(4){
    //             margin-right: 0;
    //         }
    //     }
    // }
    .gallery__wrapper-item {
        max-width: 395px;
    }
    .gallery__wrapper-item .img-big {
        width: 250px;
        height: 125px;
    }
    .gallery__wrapper-item .img-sm {
        width: 125px;
        height: 125px;
    }
    .gallery__wrapper-item div {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .gallery__wrapper-item .dscr {
        font-size: 12px;
    }
}
@include breakpoint(600) {
    .services__footer {
        .img-item {
            max-height: 300px;
            width: 100%;
            &._video {
                min-height: none;
            }
        }
    }
    .services__popup {
        .s__popup-item {
            margin: 0 7px;
        }
    }
    .services__client {
        .dscr-title {
            font-size: em(22px);
            padding:  {
                right: 10px;
                left: 10px;
            }
        }
    }
}
@include breakpoint(500) {
    .gallery__wrapper {
        .slick-next:before,
        .slick-prev:before {
            bottom: 10px;
        }
    }
    .services {
        padding-bottom: 70px;
    }
    .services__client .ttll,
    .services__client .ttur {
        font-size: em(15px);
    }
    .services__title-photo {
        .img-wrap {
            width: 150%;
        }
    }
}
@include breakpoint(400) {
    .gallery__wrapper-item {
        max-width: 330px;
    }
    .gallery__wrapper-item .img-big {
        width: 205px;
        height: 105px;
    }
    .gallery__wrapper-item .img-sm {
        width: 105px;
        height: 105px;
    }

    .gallery__wrapper-item .dscr {
        font-size: 10px;
    }
}
