.services {
    overflow-x: hidden;
    background: url("../img/services_bg.jpg") center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    padding:  {
        top: 45px;
        bottom: 175px;
    }
}
.tabs {
    &__gallery {
        &-list {
            list-style-type: none;
            text-align: center;
            margin-bottom: 45px;
        }
        &-item {
            cursor: pointer;
            display: inline-block;
            margin-right: 35px;
            &:last-child {
                margin-right: 0;
            }
            text-decoration: none;
            text-transform: uppercase;
            font-size: em(24px);
            color: #b3b1ac;
            @include transition(.3s);
            outline: none;
            &:hover {
                color: #d4d4d4;
            }
            &--active {
                color: #b8ce2b;
            }
        }
    }
}
.gallery {
    &__wrapper {
        div {
            outline: none;
        }
        .slick {
            &-prev,
            &-next {
                top: 100%;
                margin-top: 45px;
                z-index: 10;
                &:before {
                    content: "";
                    position: absolute;
                    width: 39px;
                    height: 39px;
                }
            }
            &-prev {
                &:before {
                    left: 60px;
                    background: url("../img/bxslider/left_arrow.png");
                }
            }
            &-next {
                &:before {
                    right: 60px;
                    background: url("../img/bxslider/right_arrow.png");
                }
            }
        }

        &-item {
            max-width: 565px;
            @include clearfix;
            div {
                float: left;
                margin:  {
                    right: 20px;
                    bottom: 20px;
                }
            }
            .img-big {
                width: 350px;
                height: auto;
                position: relative;
                cursor: pointer;
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .img-sm {
                width: 175px;
                height: auto;
                position: relative;
                cursor: pointer;
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
                .dscr {
                    text-align: center;
                    padding:  {
                        top: 5px;
                        bottom: 5px;
                        left: 0;
                    }
                }
            }
            .dscr {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0,0,0,.75);
                color: #fff;
                font-size: em(16px);
                padding:  {
                    top: 5px;
                    bottom: 5px;
                    left: 15px;
                }
            }
        }
    }
    &__list {
        max-width: 100%;
    }
}
.services__popup {
    max-width: 768px;
    min-height: 500px;
    margin: 0 auto;
    background: url("../img/services_bg.jpg");
    background-repeat: round;
    display: none;
    .services__title-photo {
        position: relative;
        img {
            display: block;
        }
    }
    &-ics {
        text-align: center;
        @include clearfix;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        top: 50%;
        left: 50%;
    }
    .s__popup-item {
        display: inline-block;
        margin-right: 65px;
        &:last-of-type {
            margin-right: 0;
        }
        .uslugi__text {
            float: none;
            margin: 0;
        }
    }
    .uslugi {
        &__icon {
            float: none;
            margin: 0;
            display: inline-block;
            &_pr {
                background-image: url(../img/pr-hover.png);
            }
            &_events {
                background-image: url(../img/events-hover.png);
            }
        }
    }
}
.services__client,
.services__todo,
.services__result {
    padding:  {
        top: 35px;
        bottom: 45px;
    }
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.services__client {
    background: #c8c848;
    text-align: center;
    .dscr-title {
        font-size: em(30px);
        display: block;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .ttur,
    .ttll {
        display: inline-block;
    }
    .ttur {
        text-transform: uppercase;
        text-align: right;
    }
    .ttll {
        text-align: left;
    }
}
.services__todo,
.services__result {
    background: #c1bfbc;
}
.services__info {
    text-align: center;
    padding:  {
        top: 70px;
        bottom: 70px;
    }
    color: #939393;
}
.services__footer {
    .services__img-wrap {
        @include clearfix();
    }
    .img-item {
        width: 33.333333%;
        float: left;
        img,
        iframe {
            display: block;
        }
        iframe {
            height: 170px;
            /*width: 256px;*/
            /*width: 100%;*/
            /*height: 100%;*/
        }
    }
}

@include breakpoint(800) {
    .services {
        padding-bottom: 95px;
    }
    .services__footer {
        .img-item {
            width: 50%;
        }
    }
    .gallery__wrapper {
        .slick-next:before,
        .slick-prev:before {
            bottom: 0;
        }
    }
}
@include breakpoint(500) {
    .gallery__wrapper {
        .slick-next:before,
        .slick-prev:before {
            bottom: 10px;
        }
    }
    .services {
        padding-bottom: 70px;
    }
}
