.uslugi{
	padding: 122px 0 59px 0;
}
.uslugi__wrap{
	max-width: 1000px;
	margin: 0 auto;
    text-align: justify;
	text-align-last: justify
  //   &:after{
		// content: '';
		// width: 100%;
		// display: inline-block;
  //   }
}
.uslugi__item{
	@include clearfix();
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 24%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    &:hover{
    	cursor: pointer;
    }
    &:hover .uslugi__text{
    	color:#c8c848;
    }
}
.uslugi{
	&__icon{
		margin-left: 	45px;
		float:left;
		@include border-radius(50%);
		background: #c1bfbc;
		width: 60px;
		height: 60px;
		background-repeat: no-repeat;
		background-position: center center;
		&_pr{
			background-image: url(../img/pr.png);
		}
		&_events{
			background-image: url(../img/events.png);
		}
		&_btl{
			background-image: url(../img/btl.png);
		}
		&_creative{
			background-image: url(../img/creative.png);
		}
		&_video{
			background-image: url(../img/video.png);
		}
		&_design{
			background-image: url(../img/design.png);
		}
		&_production{
			background-image: url(../img/production.png);
		}
		&_smm{
			background-image: url(../img/smm.png);
		}
	}
	&__text{
		float:left;
		vertical-align: top;
		margin-left: 25px;
		color: #d5d5d5;
	}
}
.uslugi__item_pr:hover .uslugi__icon_pr{
	background-image: url(../img/pr-hover.png)
}
.uslugi__item_events:hover .uslugi__icon_events{
	background-image: url(../img/events-hover.png)
}
.uslugi__item_btl:hover .uslugi__icon_btl{
	background-image: url(../img/btl-hover.png)
}
.uslugi__item_creative:hover .uslugi__icon_creative{
	background-image: url(../img/creative-hover.png)
}
.uslugi__item_video:hover .uslugi__icon_video{
	background-image: url(../img/video-hover.png)
}
.uslugi__item_design:hover .uslugi__icon_design{
	background-image: url(../img/design-hover.png)
}
.uslugi__item_production:hover .uslugi__icon_production{
	background-image: url(../img/production-hover.png)
}
.uslugi__item_smm:hover .uslugi__icon_smm{
	background-image: url(../img/smm-hover.png)
}
// Стили для ПОПАПА
.uslugi-popup__wrap{
	max-width: 768px;
	margin: 0 auto;
	.title{
		padding: 28px 0	;
		text-align: center;
		position: relative;
		margin-bottom: 55px;
		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: #e5e5e5;
			top: 5px;
			left: 0;
		}
		&:after{
			content:"";
			position: absolute;
			width: 100%;
			height: 10px;
			background:  url(../img/about/after-line.png) center center no-repeat;
			background-size: cover;
			bottom:0;
			left:0;
		}
	}
	.popup__header{
		max-width: 	768px;
		vertical-align: top;
		text-align: justify;
		text-align-last: justify;
		margin-bottom: 	30px;
	}
	.popup-header{
		&__logo{
			margin-top: 10px;
			// width: 30%;
			vertical-align: top;
			display: inline-block;
			.logo{
				float:none;
			}
		}
		&__image{
			// width: 30%;
			vertical-align: top;
			display: inline-block;
			.uslugi__item{
				display: block;
				width: auto;
				margin-bottom: 	0;
				height: auto;
				line-height: 40px;
			}
			.uslugi__icon{
				float:none;
				margin: 0;
			}
			.uslugi__text{
				float:none;
				margin:0;
				text-align-last: center;
				text-align: center;
			}
		}
		&__social{
			margin-top: 10px;
			// width: 30%;
			vertical-align: top;
			display: inline-block;
			.socials_block{
				margin:0;
				float: none;
			}
		}
	}
	.popup__quote{
		padding: 65px 60px;
		background: #c1bfbc;
		text-align: right;
		margin-bottom: 	50px;
	}
}